@font-face {
  font-family: Metropolis-Regular;
  src: url("/src/assets/fonts/Metropolis-Regular.woff");
}

@font-face {
  font-family: Metropolis-SemiBold;
  src: url("/src/assets/fonts/Metropolis-SemiBold.woff");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Metropolis-Regular;
}

:root {
  /* Font Sizes */
  --h1-size: 3.81rem;
  --h2-size: 2.93rem;
  --h3-size: 2.25rem;
  --h4-size: 1.68em;
  --p-size: 1rem;

  /* Colours */

  --text-c: #fffefc;
  --primary-c: #555;
  --secundary-c: #555;
  --accent-c: #555;
  --light-grey-c: #555;
  --dark-grey-c: #555;

  /* Margin Sizes */

  --xl-m: 128px;
  --x-m: 96px;
  --m-m: 48px;
  --s-m: 8px;
  --xs-m: 4px;

  /* Max/Min Sizes */

  --max-w-container: 1100px;
  --min-w-container: 800px;
  /* --max-h-hero: 817px;
  --min-w: 800px; */
}
