html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--h1-size);
  font-family: Metropolis-SemiBold;
  color: var(--text-c);
}

h2 {
  font-size: var(--h2-size);
  font-family: Metropolis-SemiBold;
  color: var(--text-c);
}

h3 {
  font-size: var(--h3-size);
  font-family: Metropolis-SemiBold;
  color: var(--text-c);
}

h4 {
  font-size: var(--h4-size);
  font-family: Metropolis-SemiBold;
  color: var(--text-c);
}

p {
  font-size: var(--p-size);
  font-family: Metropolis-Regular;
  color: var(--text-c);
}

.section {
  min-height: 860px;
  height: 90vh;
}

.container {
  max-width: var(--max-w-container);
  min-width: var(--min-w-container);
  margin: 0 auto;
}
